@keyframes spin { 100% { transform:rotate(360deg); } }

body, input, button {
    margin: 0;
    font: 16px / 20px Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input, button, select, textarea {
    -webkit-appearance: none;
}

.current-page-container {
    margin: 0 auto;
}

.cache {
    display: none;
}

/* use i as blocks because it is shorter than div */
i {
    display: block;
    font-style: normal;
}

.page-phone,
.page-code,
.page-pass,
.page-name {
    text-align: center;
}

.page-phone__logo,
.page-code__logo,
.page-pass__logo,
.page-name__logo {
    width: 160px;
    height: 160px;
    margin: 108px auto 32px;
}

.page-name__logo {
    background: #4EA4F6;
    border-radius: 50%;
    margin-bottom: 22px;
    cursor: pointer;
}

.page-name__logo:hover {
    background: #4796E1;
}

.page-name__logo svg {
    width: 48px;
    height: 48px;
    top: 56px;
    left: 3px;
    position: relative;
}

.page-code__logo {
    background: url(m1.svg) no-repeat top 21px center / 134px 134px;
}

.page-code__logo.page-code__logo_error {
    background-image: url(m4.svg);
}

.page-pass__logo {
    background: url(m3.svg) no-repeat top 21px center / 134px 134px;
    position: relative;
    top: 6px;
}

.page-pass__logo.page-pass__logo_peep {
    background: url(m2.svg) no-repeat top 21px center / 134px 134px;
}

.page-phone__logo .icon__telegram-logo {
    width: 100%;
    height: 100%;
}

.page-phone__title,
.page-code__title,
.page-pass__title,
.page-name__title {
    font-size: 2rem;
    line-height: 2;
}

.page-code__title {
    cursor: pointer;
}

.page-code__title .icon__pencil {
    display: inline-block;
    cursor: pointer;
    margin-left: 6px;
    position: relative;
    top: 1px;
    width: 24px;
    height: 24px;
}

.page-phone__subtitle,
.page-code__subtitle,
.page-pass__subtitle,
.page-name__subtitle {
    color: #707579;
    margin-bottom: 50px;
}

.page-phone__form,
.page-code__form,
.page-pass__form,
.page-name__form {
    user-select: none;
}

.page-phone__form label,
.page-code__form label,
.page-pass__form label,
.page-name__form label {
    display: block;
    margin: 0 auto 24px;
    width: 360px;
    position: relative;
}

.page-pass__form__pass svg {
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    padding: 13px;
    top: 2px;
    right: 2px;
    border-radius: 10px;
    background: #fff;
}

.page-pass__form__pass .single-line-input {
    padding-right: 54px;
}

.page-pass__form__pass .single-line-input:hover {
    padding-right: 53px;
}

.button {
    display: block;
    background: #4EA4F6;
    color: #fff;
    text-transform: uppercase;
    border: none;
    height: 54px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.button svg {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 26px;
}

.button:hover,
.button-busy {
    background: #4796E1;
}

.button-busy svg {
    display: block;
    animation: spin 2s linear infinite;
}

.single-line-input {
    border: 1px solid #DADCE0;
    border-radius: 10px;
    line-height: 28px;
    padding: 12px 14px;
    box-sizing: border-box;
    display: block;
    outline: none;
    width: 100%;
}

label .single-line-input.single-line-input__error {
    border-color: #E53935;
}

label .single-line-input.single-line-input__error ~ .single-line-input-placeholder {
    color: #E53935;
}

.single-line-input-placeholder {
    display: none;
    position: absolute;
    top: -8px;
    left: 12px;
    background: #fff;
    color: #666;
    padding: 0 4px;
    font-size: 12px;
}

.single-line-input:valid ~ .single-line-input-placeholder {
    display: block;
}

.single-line-input::placeholder {
    color: #AEB7BE;
}

.single-line-input:focus {
    border: 2px solid #4EA4F6;
    padding: 11px 13px;
    caret-color: #4EA4F6;
}

.single-line-input:focus ~ .single-line-input-placeholder {
    color: #3390EC;
}

.page-phone__form__country .icon__down {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    padding: 13px;
    top: 2px;
    right: 2px;
    border-radius: 10px;
    background: #fff;
}

.page-phone__form__country .single-line-input {
    padding-right: 54px;
}

.page-phone__form__country .single-line-input:hover {
    padding-right: 53px;
}

.page-phone__form .page-phone__form__keep-signed {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    color: #2E2E2E;
    margin-bottom: 44px;
}

.page-phone__form__keep-signed input {
    visibility: hidden;
    position: absolute;
}

.page-phone__form__keep-signed .icon__checkbox-on {
    display: none;
}

.page-phone__form__keep-signed .icon__checkbox-on,
.page-phone__form__keep-signed .icon__checkbox-off {
    margin: 0 32px 0 16px;
    width: 24px;
    height: 24px;
}

.page-phone__form__keep-signed input:checked ~ .icon__checkbox-on {
    display: block;
}

.page-phone__form__keep-signed input:checked ~ .icon__checkbox-off {
    display: none;
}

.page-phone__form__country-select {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    padding: 13px 0;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.1), 0 5px 5px 1px rgba(0,0,0,.15);
    z-index: 1;
    max-height: 212px;
    overflow: auto;
}

.page-phone__form__country-select__row {
    height: 56px;
    line-height: 56px;
    display: flex;
    padding: 0 16px;
    cursor: pointer;
}

.page-phone__form__country-select__row:hover {
    background: #F4F4F5;
}

.page-phone__form__country-select__row__title {
    flex-grow: 1;
    text-align: left;
}

.page-phone__form__country-select__row__phone-code {
    color: #707579;
}

.page-phone__form__country-active .icon__down {
    transform: rotate(180deg);
}

.page-phone__form__country-active .icon__down path {
    fill: #4EA4F6;
}

.page-phone__form__country-active .page-phone__form__country-select {
    display: block;
}

.page-phone__form .page-phone__form__submit {
    visibility: hidden;
}

@media all and (max-width: 320px) {
    .page-phone__form label,
    .page-code__form label,
    .page-pass__form label,
    .page-name__form label {
        display: block;
        margin: 0 auto 14px;
        width: calc(100% - 24px);
        position: relative;
    }

    .page-phone__subtitle,
    .page-code__subtitle,
    .page-pass__subtitle,
    .page-name__subtitle {
        margin-bottom: 20px;
    }

    .page-phone__logo,
    .page-code__logo,
    .page-pass__logo,
    .page-name__logo {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
    }

    .page-code__logo,
    .page-pass__logo,
    .page-pass__logo.page-pass__logo_peep {
        background-size: 100px 100px;
        background-position: top 0 center;
    }

    .page-pass__logo {
        top: 4px;
    }

    .page-name__logo svg {
        top: 26px;
    }
}

@media all and (min-width: 321px) and (max-width: 799px) {
    .page-phone__form label,
    .page-code__form label,
    .page-pass__form label,
    .page-name__form label {
        width: calc(100% - 34px);
    }

    .page-phone__logo,
    .page-code__logo,
    .page-pass__logo,
    .page-name__logo {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 140px;
        height: 140px;
    }

    .page-code__logo,
    .page-pass__logo,
    .page-pass__logo.page-pass__logo_peep {
        background-size: 140px 140px;
        background-position: top 0 center;
    }

    .page-name__logo svg {
        top: 46px;
    }
}

@media all and (max-height: 800px) and (min-width: 800px) {
    .page-phone__logo,
    .page-code__logo,
    .page-pass__logo,
    .page-name__logo {
        margin-top: 68px;
    }
}
